/* Start - Elements */
html, body {
	direction: rtl;
	font: 16px Arial;
	color: #fff;
	height: 100%;
	width: 100%;
}
html, body, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}
a {
	color: #00CCFF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* End - Elements */
/* Start - Attributes */
.clear {
	clear: both
}
#container {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#555))
}
#bottom {
	position: absolute;
	right: 0;
	bottom: 0;
}
#bottom #right {
	float: right;
}
#bottom #left {
	float: left;
}
#content #race {
	background: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(0.25, #222), color-stop(0.5, #111), color-stop(0.75, #222), to(#111));
}
#content .box{
	display: none; /**/
	position: absolute;
	top: 25%;
	right: 50%;
	padding: 20px;
	background: rgba(0,0,0,0.3);
	border: solid 5px #ccc;
	border-radius: 20px;
}
#content #race_results {
	display: none;
}
#content #race .grass {
	display: none; /**/
	background: url(../images/grass.jpg);
	height: 100px;
	-webkit-animation-name: MOVING-GRASS;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
#content #race #road {
	position: absolute;
	height: 600px;
	width: 2000px;
	left: 0;
	top: 0;
}
#content #race #road .lane {
	float: left;
	width: 170px;
	height: 10px;
	border-radius: 4px;
	background: #fff;
	margin-left: 180px;
}
#content #race #road .car {
	position: absolute;
	top: 0;
	left: 0;
}
#content #race #road .car .flag {
	position: absolute;
	top: 35%;
	left: 30%;
}
#content #race #road .car #path2853 {
	fill: #ccc;
}
#content #race #road #start_point {
display: none; /**/
	position: absolute;
	top: 0;
	left: 50px;
	width: 20px;
	height: 100%;
	background: url(../images/start.gif);
}
#content #race #road #flag {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 175px;
	height: 110px;
	background: url(../images/flag.svg);
}
#content #race .margin {
	margin: 10px 0;
	background: url(../images/margin_bg.png);
	height: 10px;
}
#content #flags .flag{
	list-style-type: none;
	text-align: center;
	border: solid 1px #ccc;
	margin: 20px;
	padding: 10px;
	float: left;
}
.strip {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#45484D), to(black) )
}
.strip footer{
	text-align: center;
	padding: 10px 20px;
}
/* End - Attributes */
/* Start - Animations */
@-webkit-keyframes MOVING-GRASS{
	from {
		background-position: -1024px;
	}
	to {
	background-position: 0;
	}
}
/* End - Animations */​