<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<title>Broadband Race</title>
	</head>
	<body>
		<div id="container">
			<div id="top" class="strip">
				<header>
					<h1>מרוץ האינטרנט העולמי</h1>
					<h2>השוואת מהירות האינטרנט בישראל לשאר מדינות ה-OECD</h2>
				</header>
			</div>
			<div class="clear"></div>
			<div id="content">
				<div id="countries" class="box">
					<h3>בחר מדינות להשוואה מול ישראל: <span id="selected_count">1</span> מתוך 5 נבחרו עד כה</h3>
					<ul id="flags">
						<script type="text/template" id="flag_template">
							<h4>מקום <%= place %></h4>
							<h5><%= name %></h5>
							<img id="flag_<%= id %>" src="http://www.geonames.org/flags/x/<%= id %>.gif" width="50" height="30" alt="<%= name %>" />
							<h4><%= speed %> Kbit/s</h4>
						</script>
					</ul>
				</div>
				<div id="race">
					<div id="road">
						<div id="grass_top" class="grass"></div>
						<div id="margin_top" class="margin"></div>
						<div id="lane1" class="lane"></div>
						<div id="lane2" class="lane"></div>
						<div id="lane3" class="lane"></div>
						<div id="lane4" class="lane"></div>
						<div id="countdown">
							3
						</div>
						<div id="start_point"></div>
						<div id="cars">
							<script type="text/template" id="car_template">
								<img id="car_flag_<%= id %>" class="flag" src="http://www.geonames.org/flags/x/<%= id %>.gif" width="20" height="15" alt="<%= name %>" />
								<embed id="car_<%= id %>" src="images/car/<%= colorId%>.svg" width="200"></embed>
							</script>
						</div>
						<div id="flag"></div>
						<div id="margin_bottom" class="margin"></div>
						<div id="grass_bottom" class="grass"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom" class="strip">
			<footer>
				נבנה ע"י <a href="http://il.linkedin.com/pub/shai-mesisterano/48/215/4a2" target="_blank">שי מסיסטרנו</a> &copy; | מקור הנתונים: <a href="http://www.oecd.org/">ארגון ה-OECD</a>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</html>